section.content-header
    .container-fluid
        .row.mb-2
            .col-sm-6
                h1 Fixed Navbar Layout
          
            .col-sm-6
                ol.breadcrumb.float-sm-right
                    li.breadcrumb-item
                        a(href="#") Home
                    li.breadcrumb-item
                        a(href="#") Layout
                    li.breadcrumb-item.active Fixed Navbar Layout 
section.content
    .container-fluid
        .row
            .col-12
            