doctype html
html(lang='es')
head
    include header.pug 
body.hold-transition.login-page
    .login-box
        .login-logo
            a(href='/') Control de Calidad de Calzado
        .card
            .card-body.login-card-body
                p.login-box-msg 

                form(action="/" method="POST")
                    .input-group.mb-3
                        input(type="email" class="form-control" placeholder="Email" value="email")
                        .input-group-append
                            .input-group-text
                                span.fas.fa-envelope            
                    .input-group.mb-3
                        input(type="password" class="form-control" placeholder="Password" value="password")
                        .input-group-append
                            .input-group-text
                            span.fas.fa-lock                
                        button(type="submit" class="btn btn-primary btn-block") Sign In            
                p.mb-1
                    a(href="#") Has olvidado tu password?        
                p.mb-0
                    a(href="#" class="text-center") Registrate    
include js.pug   