extends base

block content
    .card
        .card-header
            h3.card-title Title

            .card-tools
                button.btn.btn-tool(type="button" data-card-widget="collapse" title="Collapse")
                    i.fas.fa-minus                  
                button(type="button" class="btn btn-tool" data-card-widget="remove" title="Remove")
                    i.fas.fa-times
            
        .card-body Start creating your amazing application!
        
        .card-footer Footer              

