extends layout

block head
    title #{titulo}
block header    
    h1 Bienvenidos 
            
    p Control de Calidad con Express PUG #{textoParrafo}
block content
    
        div 
            p Aplicacion especializada en la Norma ISO 28459-1           
            p adaptada especialmente al calzado.
            
        
        h2  Elige tu opcion 
            #seleccion        
                a(href="/")
                    button(type="button") Start Locally
                    br 
                a(href="/login.html")
                    button(type="button") Start Online
                    br
                a(href="/")
                    button(type="button") Search Locally 
                    br
                a(href="/")
                    button(type="button") Search Cloud 
                    br