extends ./layout/base 

block content
    .content-wraper
        div.container-fluid
            div.row 
                div.col-12
                    div.card
                        div.card-header
                            h3.card-title Titulo
                            div.card-tools
                                button.btn.btn-tool(type="button" data-card-widget="collapse" title="Collapse")
                                    i.fas.fa-minus
                                button.btn.btn-tool(type="button" data-card-widget="remove" title="Remove")
                                    i.fas.fa-times                                   
                        div.card-body Crea tu app increible                                    
                        div.card-footer Footer
                    div.card
                        div.card-header
                            h3.card-title Listado de Maquinas
                            div.card-tools
                                button.btn.btn-tool(type="button" data-card-widget="collapse" title="Collapse")
                                    i.fas.fa-minus
                                button.btn.btn-tool(type="button" data-card-widget="remove" title="Remove")
                                    i.fas.fa-times                                   
                        div.card-body Listado de Maquinas
                            ul
                                li Maquina 000000001
                                    ul
                                        li.text-green Online
                                li Maquina 000000002
                                    ul
                                        li.text-danger Offline
                                li Maquina 000000003
                                    ul
                                        li.text-green Online
                                li Maquina 000000004
                                    ul
                                        li.text-danger Offline
                                li Maquina 000000005
                                    ul
                                        li.text-green Online
                        div.card-footer Footer