doctype html
html
  head
    title= `${title}`

  body
    h1 Control de Calidad en Calzado

    block content

  block footer
    a(href="https://www.linkedin.com/in/sergio-tenza-lopez-b9766890/") Creado por Sergio Tenza
