extends layout

block head
    title #{titulo}
block content
    h1 Datos de Inicio de Sesion   

    form(id="login" action="/signin" method="post")
        div.input
            input(type="text", name="user[email]", value="", placeholder="Tu email")
            br
            input(type="password", name="user[password]", value="", placeholder="Tu contraseña")
            br
        div.actions
            input(type="submit", value="LOGIN")