doctype html
html(lang='es')
head
  meta(charset="utf-8")
  meta(content="width=device-width, initial-scale=1.0" name="viewport")

  title Control Calidad Calzado
  meta(content="" name="description")
  meta(content="" name="keywords")

  //!-- Favicons --
  link(href="assets/img/favicon.png" rel="icon")
  link(href="assets/img/apple-touch-icon.png" rel="apple-touch-icon")

  //!-- Google Fonts --
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet")

  //!-- Vendor CSS Files --
  link(href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")
  link(href="assets/vendor/icofont/icofont.min.css" rel="stylesheet")
  link(href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet")
  link(href="assets/vendor/venobox/venobox.css" rel="stylesheet")
  link(href="assets/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet")
  link(href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet")

  //!-- Template Main CSS File --
  link(href="assets/css/style.css" rel="stylesheet")  
head

body  
    header(id="header" class="fixed-top")
        div(class="container d-flex align-items-center justify-content-between")
            a(href="/" class="logo")
                img(src="assets/img/logo.png" alt="" class="img-fluid")
            nav(class="nav-menu d-none d-lg-block")
                ul
                    li(class="active")
                        a(href="/") Home
                    li
                        a(href="#about") Acerca                    
                    li
                        a(href="#team") Equipo                          
                    li
                        a(href="#contact") Contacto
        
    section(id="hero" class="d-flex align-items-center")
        div(class="container")
            div(class="row")
                .col-lg-6.pt-4.pt-lg-0.order-2.order-lg-1.d-flex.flex-column.justify-content-center
                    h1 La inspeccion de calidad en el calzado simple y eficaz
                    h2 El proceso de inspeccion con la norma ISO 2859-1 es mas sencillo y eficaz. Para que puedas centrate en lo que realmente importa "LA INSPECCION".
                        div                             
                            a(href="#about" class="btn-get-started scrollto") Conocenos                                            
                        div
                            p                           
                            a(href="/login" class="btn btn-outline-primary btn-lg btn-block") Comienza Gratis
                .col-lg-6.order-1.order-lg-2.hero-img
                    img(src="assets/img/hero-imgb.png" class="img-fluid" alt="")
            
    main(id="main")

        section(id="about" class="about")
            .container
                div(class="row")                    
                    div(class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5")
                        h3 En TNZ Servicios Informaticos nos comprometemos con la calidad
                        p Desde nuestro firme compromiso con la calidad, el medio ambiente, la mejora continua y los procesos Agiles ponemos a vuestra disposicion esta herramienta que esperamos os sea de utilidad.

                        div(class="icon-box")
                            div(class="icon")
                                i(class="bx bx-crop")
                            h4(class="title")
                                a(href="#") ISO 2859-1
                            p(class="description") Nuestro compromiso es hacer tu trabajo mas sencillo y comodo. Proporcionandote las herramientas para sacar todo el provecho de las nuevas tecnologias y el poder de Internet.
                        div(class="icon-box")
                            div(class="icon")
                                i(class="bx bx-code-alt")
                            h4(class="title")
                                a(href="#") Software Libre
                            p(class="description") Como miembros activos de la comunidad Open Source defendemos la accesibilidad del software para todo el mundo.
                        div(class="icon-box")
                            div(class="icon")
                                i(class="bx bx-gift")
                            h4(class="title")
                                a(href="#") Apoyar
                            p(class="description") Tenemos plena confianza en nuestro trabajo y su utilidad. Si consideras apoyar nuestro trabajo te estaremos muy agradecidos y estaras colaborando en que la herramienta crezca y mejor en sus servicios. Todo como parte de nuestro proceso de mejora continua.
   
    
    
        section(id="team" class="testimonials")
            div(class="container")
                div(class="owl-carousel testimonials-carousel")
                    div(class="testimonial-item")
                        img(src="assets/img/testimonials/testimonials-6.jpg" class="testimonial-img" alt="")
                        h3 Sergio Tenza
                        h4 Ceo &amp; Founder
                        p <i class="bx bxs-quote-alt-left quote-icon-left"></i>La calidad y sus procesos me han guiado en la creación de este proyecto.<br>Espero que lo utilices y te sea muy util. Gracias por tu apoyo.<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                                        
                            
                    
           
          
    
        section(id="teamb" class="team section-bg")
            div(class="container")
                div(class="section-title")
                    h2 Equipo
                    p Las metodologias Agiles y los procesos ITIL son el corazón de TNZ Servicios Informaticos. Pero su recurso mas importante y diferenciador son sus empleados.
        

                div(class="row")
                    div(class="col-lg-3 col-md-6 d-flex align-items-center")
                        div(class="member")
                            div(class="member-img")                                
                                img(src="assets/img/team/team-5.jpg" class="img-fluid" alt="")
                                div(class="social")
                                a(href="https://twitter.com/SergioTenza")
                                    i(class="icofont-twitter")                                
                                a(href="https://www.linkedin.com/in/sergio-tenza-lopez-b9766890/")
                                    i(class="icofont-linkedin")
                
                            
        section(id="contact" class="contact")
            div(class="container")
                div(class="section-title")
                    h2 Contacto
                    p Situados en la Costa Blanca de la Comunidad Valenciana y rodeados de las paradisiacas palmeras de la ciudad de Elche nos encontramos en España.
        
                div
                    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3131.525786391204!2d-0.6176686843966441!3d38.29048419009309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd63b53932441501%3A0x23f625bf882e540d!2sFunphotos%20System%20S%20L!5e0!3m2!1ses!2ses!4v1612033183943!5m2!1ses!2ses" width="270" height="270" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
                div(class="row mt-5")
                    div(class="col-lg-4")
                        div(class="info")
                            div(class="address")
                                i(class="icofont-google-map")
                                h4 Localizacion:
                                p Felix Rodriguez de la Fuente 26A<br>Elche(Parque Industrial)<br> <strong>España</strong> Comunidad Valenciana (Alicante) <br>03202
                            div(class="email")
                                i(class="icofont-envelope")
                                h4 Email:
                                p tnzservicios@gmail.com
                            div(class="phone")
                                i(class="icofont-phone")
                                h4 Tfno:
                                p +34 607 46 73 34
                    div(class="col-lg-8 mt-5 mt-lg-0")
                        form(action="#" method="post" role="form" class="php-email-form" name="")
                            div(class="row")
                                div(class="col-md-6 form-group")
                                    input(type="text" name="name" class="form-control" id="name" placeholder="Tu Nombre" data-rule="minlen:4" data-msg="Please enter at least 4 chars")
                                    div(class="validate")
                                div(class="col-md-6 form-group mt-3 mt-md-0")
                                    input(type="email" class="form-control" name="email" id="email" placeholder="Tu Email" data-rule="email" data-msg="Please enter a(valid email")
                                    div(class="validate")
                                div(class="form-group mt-3")
                                    input(type="text" class="form-control" name="subject" id="subject" placeholder="Sujeto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject")
                                    div(class="validate")                                
                                div(class="form-group mt-3")
                                    textarea(class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mensaje")
                                    div(class="validate")
                                div(class="mb-3")
                                    div(class="loading") Loading
                                    div(class="error-message")
                                    div(class="sent-message") Your message has been sent. Thank you!
                                div(class="text-center" button type="submit") Enviar mensaje
    footer(id="footer")
        div(class="footer-top")
            div(class="container")
                div(class="row")                    
                    div(class="col-lg-3 col-md-6 footer-links")
                        h4 Links utiles
                        ul
                            <li><i class="bx bx-chevron-right"></i><a href="#">Inicio</a></li>
                            <li><i class="bx bx-chevron-right"></i><a href="#">Sobre nosotros</a></li>
                            <li><i class="bx bx-chevron-right"></i><a href="#">Servicios</a></li>
                            <li><i class="bx bx-chevron-right"></i><a href="#">Terminos del servicio</a></li>
                            <li><i class="bx bx-chevron-right"></i><a href="#">Politica de privacidad</a></li>
                    div(class="col-lg-3 col-md-6 footer-links")
                        h4 Nuestros servicios
                        ul
                            <li> <i class="bx bx-chevron-right"></i> <a href="#">Diseño Web</a></li>
                            <li> <i class="bx bx-chevron-right"></i> <a href="#">Programación Web</a></li>
                            <li> <i class="bx bx-chevron-right"></i> <a href="#">Programación .NET</a></li>
                            <li> <i class="bx bx-chevron-right"></i> <a href="#">SEO</a> </li>
                            <li> <i class="bx bx-chevron-right"></i> <a href="#">Control de Calidad</a> </li>
            div(class="container py-4")
                div(class="copyright") &copy; Copyright <strong><span>Butterfly</span></strong>. All Rights Reserved      
                div(class="credits")                
                    //--All the links in the footer should remain intact.
                    //--You can delete the links only if you purchased the pro version.
                    //--Licensing information: https://bootstrapmade.com/license/
                    //-Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/butterfly-free-bootstrap-theme/ 
                    //-Designed by a(href="https://bootstrapmade.com/"BootstrapMadea
            div(class="container py-4")        
                div                  
                    a(href="https://www.freepik.com/photos/business") Business photo created by aleksandarlittlewolf - www.freepik.com
                    p                                
                div(class="copyright") 
                    p &copy; Copyright <strong><span>TNZ Servicios Informaticos</span></strong>. All Rights Reserved.
                    p Template adaptado y modificado por <strong>Sergio Tenza</strong>. 
      

    a(href="#" class="back-to-top") <i class="icofont-simple-up"></i>

    //- Vendor JS Files --
    script(src="assets/vendor/jquery/jquery.min.js")
    script(src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js")
    script(src="assets/vendor/jquery.easing/jquery.easing.min.js")
    script(src="assets/vendor/php-email-form/validate.js")
    script(src="assets/vendor/venobox/venobox.min.js")
    script(src="assets/vendor/waypoints/jquery.waypoints.min.js")
    script(src="assets/vendor/counterup/counterup.min.js")
    script(src="assets/vendor/isotope-layout/isotope.pkgd.min.js")
    script(src="assets/vendor/owl.carousel/owl.carousel.min.js")

    //!-- Template Main JS File --
    script(src="assets/js/main.js")