extends Bpanel.pug   

block mainContainer
    //<!-- Content Wrapper. Contains page content 
    div(class="content-wrapper")
        //<!-- Content Header (Page header) 
        section(class="content-header")
            div(class="container-fluid")
                div(class="row mb-2")
                    div(class="col-sm-6")
                        h1 #{cabecera}
                    div(class="col-sm-6")
                        ol(class="breadcrumb float-sm-right")
                            li(class="breadcrumb-item") <a href="/panel">Home</a> 
                            li(class="breadcrumb-item active") #{cabecera}                           
            //<!-- /.container-fluid 
        
        //<!-- Main content 
        section(class="content")
            div(class="container-fluid")
                div(class="row")
                    div(class="col-12")
                        //<!-- Default box
                        include layout/messagesError.pug
                        include layout/messagesSuccesful.pug 
                        h5(class="mb-2") <b>Bienvenido a Control de Calidad de Calzado By TNZ Servicios Informaticos.
                        div(class="card")
                            div(class="card-header")
                                h3(class="card-title") Listado de Inspecciones
                        
                            div(class="card-body")
                                table(id="example1" class="table table-bordered table-striped")
                                    thead
                                        tr
                                            th ID
                                            th Nombre Inspeccion
                                            th Fecha
                                            th Cliente
                                            th Proveedor
                                            th Inspector
                                            th Norma
                                    tbody 
                                        tr 
                                            td 000000000000000
                                            td -
                                            td -
                                            td -
                                            td -
                                            td -
                                            td ISO 2859-1
                                    tfoot 
                                        tr 
                                            th ID
                                            th Nombre Inspeccion
                                            th Fecha
                                            th Cliente
                                            th Proveedor
                                            th Inspector
                                            th Norma
                  
                            
                                