.float-right.d-none.d-sm-block
    p
        b Version 1.0.0
            strong Copyright &copy; 2020
    p
        a.mr-4(href="#") funphotossystems.com
            
    p
        strong Todos los derechos reservados    