nav.main-header.navbar.navbar-expand.navbar-primary.navbar-dark
    ul.navbar-nav
        li.nav-item
            a.nav-link(data-widget="pushmenu" href="#" role="button")
                i.fas.fa-bars      
        li.nav-item.d-none.d-sm-inline-block
            a(href="#").nav-link Home      
        li.nav-item.d-none.d-sm-inline-block
            a(href="#").nav-link Contact
    form.form-inline.ml-3
        div.input-group.input-group-sm
            input.form-control.form-control-navbar(type="search" placeholder="Search" aria-label="Search")
            div.input-group-append
                button.btn.btn-navbar(type="submit")
                    i.fas.fa-search